/ jQuery, Bootstrap core, and custom theme
= javascript_include_tag 'jquery.min', 'bootstrap.min', 'clean-blog.min'


:javascript
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//bahtiyar.kurutepe.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
%noscript
  %p
    %img{:src => "//bahtiyar.kurutepe.com/piwik.php?idsite=1", :style => "border:0;", :alt => "" }


