/ jQuery, Bootstrap core, and custom theme
= javascript_include_tag 'jquery.min', 'bootstrap.min', 'clean-blog.min'


:javascript
  var owa_baseUrl = 'http://bahtiyar.kurutepe.com/';
  var owa_cmds = owa_cmds || [];
  owa_cmds.push(['setSiteId', '08870c2f71fb83eea2d8338a19931f9e']);
  owa_cmds.push(['trackPageView']);
  owa_cmds.push(['trackClicks']);
  owa_cmds.push(['trackDomStream']);

  (function() {
  	var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
  	owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
  	_owa.src = owa_baseUrl + 'modules/base/js/owa.tracker-combined-min.js';
  	var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
  }());


