// @name Typography
// @description All typography settings and styles

//@import url(https://fonts.googleapis.com/css?family=David+Libre|Suez+One);

// Our variables
body {
    font-family: $base-font-family, sans-serif;
    font-size: $base-font-size;
    line-height: 1.4;
}
