---
title: About
description: Hello world!
---

/ Page Header
= partial :header, locals: { title: '', background_image: '/img/about-bg.jpg' }


.container
  .row
    - standard_width_div do
      :markdown
        Hello there!

        My name is Engin Kurutepe. I've been building apps since the first iPhone SDK came out in 2008 and had the opportunity to get involved with many apps not only for employers/clients but also indepentently on my own. These days, I usually work as a contract iOS developer or mobile product consultant. 
        
        I'm working on [AppCare](https://appcare.io), a subscription service for app maintenance.
        
        I am a big fan of the super-nice and friendly Apple developer community and I try to get involved and contribute as much as possible. I co-organize [UIKonf](http://www.uikonf.com), the independent conference for serious developers. And I used to organize [Cocoaheads Berlin](http://www.cocoaheads-berlin.org).
        
        In my free-time, or whatever is left of it after little Oskar joined us in 2014, I fly gliders at [FCC Berlin](http://www.fccberlin.de).
        
        If you have any comments and or feedback please don't hesitate to reach out. I can be best reached over [Twitter](https://twitter.com/ekurutepe). You can also send me an [email](mailto:engin@kurutepe.com), if you so desire.
        
        
     